# E-commerce Git Ignore Rules

# Root dependencies (make single node_modules)
/node_modules/
/package.json
/package-lock.json

# Front-end sub-directory dependencies & builds
front-end/node_modules/
front-end/build/
front-end/.pnp
front-end/.pnp.js
front-end/coverage/
front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
front-end/.env*

# OS specific files
.DS_Store
Thumbs.db
