{% extends "admin/base_site.html" %}
{% load static %}

{% block bodyclass %}{{ block.super }} messages-page{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/react/messages.css' %}?v=1">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Dashboard</a>
    <span class="breadcrumb-separator">&rsaquo;</span>
    <span class="current-page">Messages</span>
</div>
{% endblock %}
{% block content_title %}{% endblock %}

{% block content %}
<div id="react-messages-root"></div>
<script type="module" src="{% static 'admin/react/messages.js' %}"></script>
{% endblock %}

